@media only screen and (max-width: 1030px) {
  .navbar ul li a::before {
    display: none; }
  .overflow:hover .Box-1,
  .overflow:hover .Box-2,
  .overflow:hover .Box-3 {
    transform: scale(1); }
  .dark,
  .box-headings {
    opacity: 1; }
  .MainSection,
  .DesktopSection,
  .TabletSection,
  .SmartphoneSection,
  .AbstractSection,
  .AerialSection,
  .ArchitectureSection,
  .CarsSection,
  .ForestSection,
  .MinimalismSection,
  .MountainSection,
  .NatureSection,
  .NightSkySection,
  .PatterSection,
  .UrbanSection,
  .WaterSection {
    height: 45vw; }
  .CategoriesSection {
    gap: 1.5rem; }
  .GridWalls {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.5rem; }
  .GridWallsSmartphone {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; } }

@media only screen and (max-width: 800px) {
  .BoxesWrap,
  .GridWalls,
  .GridWallsSmartphone,
  .GridWallsTablet,
  .CategoriesSection {
    gap: 1.2rem; } }

@media only screen and (max-width: 600px) {
  .BoxesWrap,
  .GridWalls,
  .GridWallsSmartphone,
  .GridWallsTablet,
  .CategoriesSection {
    gap: 1rem; }
  .GridWallsSmartphone {
    grid-template-columns: repeat(2, 1fr); }
  .footer {
    flex-direction: column; }
  .about {
    width: 80%; }
    .about p {
      font-size: 1.15rem !important; } }
